body{
    margin: 0;
    text-align: center;    
}

.color-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}